body {
  background-color: #e0e0e0; 
  color: #222; 
  line-height: 1.6; 
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
}

.header {
  text-align: center;
}

nav {
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: left;
  margin: 5em;
  margin-top: 2em;
}

.error {
    border: 2px solid red;
    margin: 1em;
    padding: 0.5em;
    background-color: #ffcccc;
    color: #a80000;
    border-radius: 5px;
}

.success {
    border: 2px solid green;
    margin: 1em;
    padding: 0.5em;
    background-color: #d4edda;
    color: #155724;
}
