{% extends "layout.html" %}

{% block title %}Tuotteen muokkaus{% endblock %}

{% block content %}
  <form action="/update_product" method="post">
    <p>
      Tuotteen nimi: <br />
      <input type="text" name="name" value="{{product.name}}" maxlength="50" required/>
    </p>
    <p>
      Hinta: <br />
      <input type="text" name="price" size="5" value="{{product.price}}" pattern="(0|[1-9]\d*)([,\.]\d{1,2})?" required/> € /
      <select name="unit">
        {% for unit in units %}
          {% if unit.display_name == product.unit%}
          <option value="{{unit.name}}" selected >{{unit.display_name}}</option>
          {% else %}
          <option value="{{unit.name}}">{{unit.display_name}}</option>
        {% endif %}
        {% endfor %}
      </select>
    </p>
    <p>Osasto:<select name="department">
      {% for department in departments %}
        {% if department.display_name == product.department%}
        <option value="{{department.name}}" selected >{{department.display_name}}</option>
        {% else %}
        <option value="{{department.name}}">{{department.display_name}}</option>
        {% endif %}
      {% endfor %}
    </select>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="hidden" name="product_id" value="{{ product.id }}" />
    <input type="submit" value="Päivitä" />
  </form>
{% endblock %}
