{% extends "layout.html" %}

{% block title %}Etsi tuote{% endblock %}

{% block content %}

  <form action="/find_product" method="get">
    <p>
      <label for="query">Hakusana:</label><br />
      <input type="text" name="query"s id="query" value="{{query}}"/>
    </p>
    <input type="submit" value="Etsi" />
  </form>
  <p>
    <a href="/">Takaisin</a>
  </p>
  {% if query %}
  <h2>Tulokset</h2>

  <p>
  {% if results | count == 1 %}
    Haulla '{{query}}'' löytyi 1 tuote.
  {% else %}
    Haulla '{{query}}'' löytyi {{results | count }} tuotetta.
  {% endif %}
  </p>
  <ul>
    {% for product in results %}
    <li><a href="/product/{{product.id}}">{{product.name}}</a> ({{product.unit}}) <form action="/adjust_amount" method="post" style="display: inline;">
  <input type="submit" name="adjust" id="add" value="+" />
  <input type="hidden" name="amount" id="amount" value=""/>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="hidden" name="product_id" value="{{ product.id }}" />
  </form></li>
    {% endfor %}
  </ul>
  {%endif%}

{% endblock %}
