<!DOCTYPE html>
<html>

<head>
  <title>Kauppalista-sovellus</title>
</head>

<body>
  <h1>Kauppalista-sovellus</h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}, id-numerosi {{ session.user_id}}
  <a href= "/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <p>
    <a href= "/login">Kirjaudu sisään</a>
    <a href= "/register">Luo tunnus</a>
  </p>
  {% endif %}
  {% if session.username %}
  <p>
    <a href="/new_product">Uusi tuote</a>
  </p>
  {% endif %}
  <p>
    <a href="/find_product">Etsi tuotteita</a>
  </p>
  <h2>Tuotteet</h2>
  <ul>
  {% for product in products %}
  <li><a href="/product/{{product.id}}">{{product.name}}</a></li>
  {%endfor%}
  </ul>

</body>

</html>