{% extends "layout.html" %}

{% block title %}Kaikki tuotteet{% endblock %}

{% block content %}
  <ul>
  {% for product in products %}
  <li><a href="/product/{{product.id}}">{{product.name}}</a> ({{product.unit}})  {% if session.user_id %} <form action="/adjust_amount" method="post" style="display: inline;">
  <input type="submit" name="adjust" id="add" value="+" />
  <input type="hidden" name="amount" id="amount" value=""/>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="hidden" name="product_id" value="{{ product.id }}" />
  </form>
  {% endif %}
</li>
  {%endfor%}
  </ul>
  <p>
    <a href="/{{ page - 1 }}">&lt;&lt;</a>
    Sivu {{ page }}/{{ page_count }}
    <a href="/{{ page + 1 }}">&gt;&gt;</a>
  </p>
  <hr />
{% endblock %}


    <li><a href="/product/{{item.product_id}}">{{item.name}}</a>,  {{item.amount}}  {{item.unit_display_name}}

  </form></li>