<!DOCTYPE html>
<html>

<head>
  <title>Kauppalistat</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

  <div class="header">
    <h1>Kauppalista-sovellus</h1>
  {% if session.user_id %}
  <div>
    Olet kirjautunut sisään nimellä <a href="/user/{{session.user_id}}"> {{session.username}}</a>
  </div>
  </div>
  {% endif %}

  <div class="nav">
    <nav>
      <p>
        <a href="/">Etusivu</a> |
        <a href="/find_product">Etsi tuote</a> |
        {% if session.user_id %}
        <a href="/new_product">Uusi tuote</a> |
        <a href="/user/{{session.user_id}}">Kauppalista</a> |
        <a href="/logout">Kirjaudu ulos</a> 
        {% else %}
        <a href="/login">Kirjaudu sisään</a> |
        <a href="/register">Luo tunnus</a> 
        {% endif %}
      </p>
    </nav>
  </div>



<div class="main">



  <div>
  <h2>{% block title %}{% endblock %}</h2>

      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}

  {% block content %}{% endblock %}
  </div>

  {% if shopping_list%}

   <div>
    <h2>Kauppalista</h2>

    <ul>
    {% for item in shopping_list %}
    <li><a href="/product/{{item.product_id}}">{{item.name}}</a>,  {{item.amount}}  {{item.unit_display_name}}
  <form action="/adjust_amount" method="post" style="display: inline;">
  <input type="submit" name="adjust" id="substract" value="-" />
  <input type="text" name="amount" id="amount" size="2" pattern="^(0|[1-9]\d*)([,\.]\d{1,2})?"/>
  <input type="submit" name="adjust" id="add" value="+" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="hidden" name="product_id" value="{{ item.product_id }}" />
  </form></li>
    {% endfor %}
  </ul>

  </div>
{% endif %}
</div>


</div>
</html>
