<!DOCTYPE html>
<html>

<head>
  <title>Kauppalistat</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

  <div class="header">
    <h1>Kauppalista-sovellus</h1>
  </div>
  {% if session.user_id %}
  <div>
    Olet kirjautunut sisään nimellä <a href="/user/{{session.user_id}}"> {{session.username}}</a>
  </div>
  {% endif %}
  <div class="nav">
    <nav>
      <p>
        <a href="/">Etusivu</a> |
        <a href="/find_product">Etsi tuote</a> |
        {% if session.user_id %}
        <a href="/new_product">Uusi tuote</a> |
        <a href="/user/{{session.user_id}}">Kauppalista</a> |
        <a href="/logout">Kirjaudu ulos</a> 
        {% else %}
        <a href="/login">Kirjaudu sisään</a> |
        <a href="/register">Luo tunnus</a> 
        {% endif %}
      </p>
    </nav>
  </div>
  {% if shopping_list%}
   <aside>
    <h2>Kauppalista</h2>
    <ul>
    {% for item in shopping_list %}
    <li><a href="/product/{{item.id}}">{{item.name}}</a>,  {{item.amount}}  {{item.unit_display_name}}</li>
    {% endfor %}
  </ul>

  </aside>
  {% endif %}
  <div class="content">

    <h2>{% block title %}{% endblock %}</h2>

    {% block content %}{% endblock %}
  </div>
 
</html>
