{% extends "layout.html" %}

{% block title %}Kirjautuminen{% endblock %}

{% block content %}

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      <label for="username">Tunnus:</label> <br />
      <input type="text" name="username" id="username" />
    </p>
    <p>
      <label for="password">Salasana:</label> <br />
      <input type="password" name="password" id="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
    {% if next_page %}
    <input type="hidden" name="next_page" value="{{ next_page }}" />
    {% else %}
    <input type="hidden" name="next_page" value="/" />
    {% endif %}
  </form>
  {% endif %}
{% endblock %}
