<!DOCTYPE html>
<html>

<head>
  <title>Uusi tuote</title>
</head>

<body>
  
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}, id-numerosi {{ session.user_id}}
  </p>
  {% endif %}
  <p>

  <h1>Uusi tuote</h1>
  <form action="/create_product" method="post">
    <p>
      Tuotteen nimi: <br />
      <input type="text" name="name" maxlength="50" required/>
    </p>
    <p>
      Hinta:<input type="text" name="price" size="5" value="0,00" pattern="^^(0|[1-9]\d*)([,\.]\d{1,2})?" required/> € /
      <select name="unit">
        {% for unit in units %}
        <option value="{{unit.name}}">{{unit.display_name}}</option>
        {% endfor %}
      </select>
    </p>
    <p>Osasto:<select name="department">
      <option value="">(valinta)</option>
      {% for department in departments %}
      <option value="{{department.name}}">{{department.display_name}}</option>
      {% endfor %}
    </select>
  </p>

    <input type="submit" value="Luo tuote" />
  </form>

 
</body>

</html>