{% extends "layout.html" %}

{% block title %}Uusi tuote{% endblock %}

{% block content %}

  <form action="/create_product" method="post">
    <p>
      <label for="name">Tuotteen nimi:</label><br />
      <input type="text" name="name" id="name" maxlength="50" required/>
    </p>
    <p>
      <label for="price">Hinta:</label><input type="text" name="price" id="price" size="5" value="0,00" pattern="^^(0|[1-9]\d*)([,\.]\d{1,2})?" required/> € /
      <select name="unit" id="unit">
        {% for unit in units %}
        <option value="{{unit.name}}">{{unit.display_name}}</option>
        {% endfor %}
      </select>
    </p>
    <p><label for="department">Osasto:</label><select name="department" id="department">
      <option value="">(valinta)</option>
      {% for department in departments %}
      <option value="{{department.name}}">{{department.display_name}}</option>
      {% endfor %}
    </select>
    </p>
    <p>
    <label for="rating">Oma arvio:</label><select name="rating" id="rating">
    <option value="" selected >(valitse)</option>
    {% for number in range(1,6) %}
    <option value="{{number}}" >{{number}}</option>
    {% endfor %}
  </select>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Luo tuote" />
  </form>
{% endblock %}
