{% extends "layout.html" %}

{% block title %}{{product.name}}{% endblock %}

{% block content %}

    {% if session.user_id == product.user_id%}
  <p>
    <a href="/edit_product/{{ product.id }}">Muokkaa</a> | <a href="/remove_product/{{ product.id }}">Poista</a>
  </p>
  {% endif %}
  <p>
    {% if session.shopping_list_id%}
  <form action="/add_item/{{ product.id }}" method="post">
    <p>
  Lisää kauppalistaan <input type="text" name="amount" size="5" pattern="^(0|[1-9]\d*)([,\.]\d{1,2})?" required/>  {{product.unit}}
  <input type="submit" name="submit" value="+" /> </p>
  </form>
    {% endif %}
<p>
    Hinta: {{product.price}} € / {{product.unit}}
  </p>
  <p>
    Osasto: {{product.department}}
  </p>
   <p>
    Luonut: <a href="/user/{{product.user_id}}"> {{product.username}} </a>
  </p>

  <p>
    <a href="/">Takaisin</a>
  </p>
{% endblock %}
